[package]
name = "convco"
version = "0.5.1"
description = "Conventional commit tools"
keywords = ["conventional", "commit", "changelog", "semantic", "versioning"]
categories = ["development-tools::build-utils"]
readme = "README.md"
homepage = "https://convco.github.io"
repository = "https://github.com/convco/convco.git"
license = "MIT"
authors = ["Hannes De Valkeneer <hannes@de-valkeneer.be>"]
edition = "2021"
include = [
    "build.rs",
    "src/*",
    "README.md",
    "LICENSE"
]
rust-version = "1.60" # for `--features`

[dependencies]
anyhow = { version = "1.0.81", features = ["backtrace"] }
clap = { version = "4.5.2", features = ["derive", "env"] }
ctrlc = "3.4.2"
dialoguer = "0.11.0"
git2 = { version = "0.18.2", default-features = false }
handlebars = "5.1.0"
regex = "1.10.4"
semver = "1.0.21"
serde = { version = "1.0.197", features = ["derive"] }
serde_yaml = "0.9.32"
thiserror = "1.0.58"
time = { version = "0.3.31", features = [ "serde-human-readable" ] }
url = "2.5.0"
walkdir = "2.5.0"

[build-dependencies]
clap = { version = "4.5.2", features = ["derive", "env"] }
clap_complete = "4.5.1"
semver = "1.0.19"

[features]
default = ["zlib-ng-compat"]
zlib-ng-compat = ["git2/zlib-ng-compat"]

[profile.release]
strip = true

[package.metadata.deb]
depends = ""
extended-description = """\
Conventional commit tools. \
Create a changelog. \
Check if commits follow the convention. \
Calculate the next version based on the conventional commits."""
assets = [
    # bin
    ["target/x86_64-unknown-linux-musl/release/convco", "/usr/local/bin/", "755"],
    # completions
    ["target/completions/convco.bash", "/usr/share/bash-completion/completions/", "644"],
    ["target/completions/_convco", "/usr/share/zsh/vendor-completions/", "644"],
    ["target/completions/convco.fish", "/usr/share/fish/completions/", "644"],
]
