name: Build binary
# This workflow is triggered on pushes to the repository.
on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os.name }}-${{ matrix.os.version }}
    strategy:
      matrix:
        include:
          - os:
              name: ubuntu
              version: latest
            binary: convco
          - os:
              name: macos
              version: latest
            binary: convco
          - os:
              name: windows
              version: 2019
            binary: convco.exe
    steps:
      - uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Test on ${{ matrix.os.name }}
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Build ${{ matrix.os.name }} binary
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: Upload ${{ matrix.os.name }} binary
        uses: actions/upload-artifact@v2
        with:
          name: convco-${{ matrix.os.name }}
          path: target/release/${{ matrix.binary }}

      - name: Upload shell completions
        if: matrix.os.name == 'ubuntu'
        uses: actions/upload-artifact@v2
        with:
          name: convco-shell-completions
          path: target/completions

      - name: Debian package
        if: matrix.os.name == 'ubuntu'
        run: |
          cargo install cargo-deb
          cargo deb

      - name: Upload Debian package
        if: matrix.os.name == 'ubuntu'
        uses: actions/upload-artifact@v2
        with:
          name: convco-deb
          path: target/debian
